body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: linear-gradient(to right, #e3f2fd, #f1f8ff);
  margin: 0;
  padding: 0;
  text-align: center;
}

/* TIÊU ĐỀ */
h1 {
  color: #0d47a1;
  font-size: 36px;
  margin-top: 30px;
}

/* BOX CHUNG */
.box {
  width: 420px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* INPUT + SELECT */
input,
select {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/* BUTTON */
button {
  background: linear-gradient(to right, #1976d2, #42a5f5);
  color: white;
  border: none;
  padding: 12px;
  width: 75%;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(to right, #1565c0, #1e88e5);
}

/* FILTER */
.filter {
  background: white;
  width: 600px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* CHỮ TÌM PHÒNG */
.filter-title {
  font-size: 28px;
  font-weight: bold;
  color: #e65100;
  margin-bottom: 20px;
}

/* DANH SÁCH PHÒNG */
.room-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 40px;
}

/* CARD PHÒNG */
.room {
  background: white;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.room:hover {
  transform: translateY(-8px);
}

.room img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.room-content {
  padding: 15px;
}

.room h3 {
  margin: 10px 0;
  color: #0d47a1;
}

.room p {
  margin: 5px 0;
  font-size: 14px;
}
